.Findpage2 { 
    background-color: #ffffff; 
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    width: 100%; 
    overflow : hidden;
}

/* .Findpage2 .overlap-wrapper {   
    background-color: #ffffff;   
    height: 1080px;   
    overflow: hidden;   // .Findpage2로 이동
    width: 1920px; 
} */

.Findpage2 .overlap {  
    width: 1920px;  
    height: 1080px;   
    left: 0px;   
    top: 0px;   
    position: relative;   
}  

.Findpage2 .map {   
    background-color: #f2f1ec;   
    height: 980px;   
    left: 1px;   
    position: absolute;   
    top: 0px;   
    width: 1920px; 
}

.Findpage2 .pop-up {   
    height: 876px;   
    left: 1389px;   
    position: absolute;   
    top: 53px;   
    width: 466px; 
}

.Findpage2 .store-list {   
    background-color: #ffffff;   
    border-radius: 20px;   
    height: 783px;   
    left: 0;   
    overflow: hidden;   
    position: absolute;   
    top: 93px;   
    width: 466px; 
}

.Findpage2 .image {   
    height: 1px;   
    left: 41px;   
    object-fit: cover;   
    position: absolute;   
    top: 84px;   
    width: 383px; 
}

.Findpage2 .middleSide {   
    height: 668px;   
    left: 63px;   
    overflow: hidden;   
    position: absolute;   
    top: 115px;   
    width: 340px; 
}

.Findpage2 .storeContent {   
    background-color: #f7f7f7;   
    border: 1.5px solid;   
    border-color: #7b7b7b;   
    border-radius: 20px;   
    height: 421px;   
    left: 0;   
    overflow: hidden;   
    position: absolute;   
    top: 270px;   
    width: 340px; 
}

.Findpage2 .text-regionNumber {   
    color: #000000;   
    font-family: "Inter-Medium", Helvetica;   
    font-size: 15px;   
    font-weight: 500;   
    left: 145px;   
    letter-spacing: 0;   
    line-height: normal;   
    position: absolute;   
    top: 166px;   
    width: 166px; 
}

.Findpage2 .text-postalCode {   
    color: #000000;   
    font-family: "Inter-Medium", Helvetica;   
    font-size: 15px;   
    font-weight: 500;   
    left: 66px;   
    letter-spacing: 0;   
    line-height: normal;   
    position: absolute;   
    top: 166px;   
    white-space: nowrap; 
}

.Findpage2 .text-address {   
    color: #000000;   
    font-family: "Inter-Medium", Helvetica;   
    font-size: 15px;   
    font-weight: 500;   
    left: 67px;   
    letter-spacing: 0;   
    line-height: normal;   
    position: absolute;   
    top: 144px;   
    width: 245px; 
}

.Findpage2 .text-phoneNumber {   
    color: #000000;   
    font-family: "Inter-Medium", Helvetica;   
    font-size: 15px;   
    font-weight: 500;   
    left: 66px;   
    letter-spacing: 0;   
    line-height: normal;   
    position: absolute;   
    top: 204px;   
    width: 245px; 
}

.Findpage2 .location {   
    height: 33px;   
    left: 28px;   
    object-fit: cover;   
    position: absolute;   
    top: 148px;   
    width: 30px; 
}

.Findpage2 .umbrellaCntFrame {   
    border: 1px solid;   
    border-color: #ff5858;   
    border-radius: 20px;   
    height: 24px;   
    left: 97px;   
    overflow: hidden;   
    position: absolute;   
    top: 80px;   
    width: 145px; 
}

.Findpage2 .umbrellaCntBack {   
    background-color: #ff5858;   
    border-radius: 20px;   
    height: 24px;   
    left: 105px;   
    position: absolute;   
    top: 0;   
    width: 40px; 
}

.Findpage2 .text-umbrellaCnt {   
    color: #ffffff;   
    font-family: "Inter-SemiBold", Helvetica;   
    font-size: 15px;   
    font-weight: 600;   
    left: 9px;   
    letter-spacing: 0;   
    line-height: normal;   
    position: absolute;   
    top: 2px;   
    white-space: nowrap;   
    width: 24px; 
}

.Findpage2 .text-currentUmbrella {   
    color: #ff5858;   
    font-family: "Inter-SemiBold", Helvetica;   
    font-size: 15px;   
    font-weight: 600;   
    left: 9px;   
    letter-spacing: 0;   
    line-height: normal;   
    position: absolute;   
    top: 2px;   
    white-space: nowrap; 
}

.Findpage2 .text-storeName {   
    color: #000000;   
    font-family: "Inter-ExtraBold", Helvetica;   
    font-size: 35px;   
    font-weight: 800;   
    left: 137px;   
    letter-spacing: 0;   
    line-height: normal;   
    position: absolute;   
    top: 28px;   
    white-space: nowrap; 
}

.Findpage2 .telephone {   
    height: 30px;   
    left: 28px;   
    object-fit: cover;   
    position: absolute;   
    top: 200px;   
    width: 30px; 
}

.Findpage2 .storePic {   
    /* background-image: url(./1.png);    */
    background-position: 50% 50%;   
    background-size: cover;   
    height: 248px;   
    left: 0;   
    position: absolute;   
    top: 0;   
    width: 340px; 
}  

.Findpage2 .upperSide {   
    height: 42px;   
    left: 41px;   
    position: absolute;   
    top: 29px;   
    width: 383px; 
}

.Findpage2 .text-storeInfo {   
    color: #000000;   
    font-family: "Inter-Medium", Helvetica;   
    font-size: 20px;   
    font-weight: 500;   
    left: 155px;   
    letter-spacing: 0;   
    line-height: normal;   
    position: absolute;   
    top: 11px;   
    white-space: nowrap; 
}

.Findpage2 .back {   
    height: 42px;   
    left: 0;   
    position: absolute;   
    top: 0;   
    width: 34px; 
}

.Findpage2 .text-back {   
    color: #000000;   
    font-family: "Inter-ExtraLight", Helvetica;   
    font-size: 35px;   
    font-weight: 200;   
    left: 0;   
    letter-spacing: 0;   
    line-height: normal;   
    position: absolute;   
    top: -1px;   
    white-space: nowrap; 
}

.Findpage2 .search {   
    background-color: #ffffff;   
    border-radius: 15px;   
    height: 71px;   
    left: 0;   
    position: absolute;   
    top: 0;   
    width: 466px; 
}

.Findpage2 .img {   
    height: 32px;   
    left: 416px;   
    object-fit: cover;   
    position: absolute;   
    top: 21px;   
    width: 32px; 
}

.Findpage2 .image-2 {   
    height: 1px;   
    left: 24px;   
    position: absolute;   
    top: 53px;   
    width: 383px; 
}

.Findpage2 .text-search {   
    color: #919191;   
    font-family: "Inter-Thin", Helvetica;   
    font-size: 18px;   
    font-weight: 100;   
    left: 32px;   
    letter-spacing: 0;   
    line-height: normal;   
    position: absolute;   
    top: 24px; 
}