.LoginP {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.LoginP .div {
    background-color: #ffffff;
    height: 1080px;
    /* overflow: hidden; */
    position: relative;
    width: 1920px;
}

.LoginP .middleSide {
    background-color: #ffffff;
    height: 980px;
    left: 0;
    /* position: absolute; */
    top: 0px;
    width: 1920px;
}

.LoginP .view {
    background-color: #ffffff;
    height: 939px;
    left: 727px;
    position: relative;
    top: 0px;
    width: 466px;
}

.LoginP .text-login {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 55px;
    font-weight: 700;
    left: 89px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 170px;
    width: 288px;
}

.LoginP .input-id {
    align-items: flex-start;
    background-color: #ffffff;
    border: 2px solid;
    border-color: #000000;
    border-radius: 15px;
    display: flex;
    gap: 10px;
    height: 60px;
    left: 52px;
    opacity: 0.3;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    top: 350px;
    width: 350px;
    font-size: 30px;
}

.LoginP .input-id::placeholder {
    font-size: 25px;
    padding: 10px;
}

.LoginP .input-pw {
    align-items: flex-start;
    background-color: #ffffff;
    border: 2px solid;
    border-color: #000000;
    border-radius: 15px;
    display: flex;
    gap: 10px;
    height: 60px;
    opacity: 0.3;
    overflow: hidden;
    padding: 10px;
    left: 52px;
    position: absolute;
    top: 450px;
    width: 350px;
    font-size: 30px;
}

.LoginP .input-pw::placeholder {
    font-size: 25px;
    padding: 10px;
}

.LoginP .click-button {
    background-color: #0075ff;
    border-radius: 50px;
    border: none;
    height: 70px;
    left: 52px;
    position: absolute;
    top: 600px;
    width: 375px;

    color: #ffffff;
    font-family: "Inter-Thin", Helvetica;
    font-size: 30px;
    font-weight: 500;
}

.LoginP .click-button:hover {
    border: 2px solid #000000;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.LoginP .signUp {
    width: 150px;
    height: 40px;
    top: 720px;
    left: 160px;
    position: absolute;
}

.LoginP .text-signUp {
    color: #373737;
    font-family: "Inter-Thin", Helvetica;
    font-size: 23px;
    font-weight: 100;
    width: 150px;
    height: 40px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    text-decoration: underline;
    top: -1px;
}

.LoginP .text-signUp:hover {
    cursor: pointer;
}

.LoginP .navigator {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #0075ff80;
    height: 102px;
    left: -1px;
    position: absolute;
    top: -1px;
    width: 1922px;
}

.LoginP .view-right {
    height: 22px;
    left: 1583px;
    position: absolute;
    top: 39px;
    width: 244px;
}

.LoginP .SignUp {
    height: 22px;
    left: 177px;
    position: absolute;
    top: 0;
    width: 67px;
}

.LoginP .text-sign {
    color: #373737;
    font-family: "Inter-Thin", Helvetica;
    font-size: 11px;
    font-weight: 100;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
}

.LoginP .Login {
    height: 22px;
    left: 90px;
    position: absolute;
    top: 0;
    width: 50px;
}

.LoginP .view-middle {
    height: 30px;
    left: 530px;
    position: absolute;
    top: 35px;
    width: 808px;
}

.LoginP .Notice {
    height: 30px;
    left: 715px;
    position: absolute;
    top: 0;
    width: 93px;
}

.LoginP .text-notice {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 25px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    width: 93px;
}

.LoginP .StoreInfo {
    height: 30px;
    left: 459px;
    position: absolute;
    top: 0;
    width: 152px;
}

.LoginP .text-storeinfo {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 25px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    width: 152px;
}

.LoginP .UnbrellaStock {
    height: 30px;
    left: 203px;
    position: absolute;
    top: 0;
    width: 152px;
}

.LoginP .text-umbrella {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 25px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    white-space: nowrap;
}

.LoginP .UmbrellaFind {
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 99px;
}

.LoginP .view-left {
    height: 61px;
    left: 74px;
    position: absolute;
    top: 19px;
    width: 113px;
}

.LoginP .Logo {
    color: #0075ff;
    font-family: "Inter-Black", Helvetica;
    font-size: 50px;
    font-weight: 900;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
}