.navigator {
    /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999; */

    background-color : #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    overflow: hidden;
  }
  
  .nav-container {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px; */

    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #0075ff;
    display: flex;
    justify-content: center;
    align-items: center;            /* 이 세 개 중요 */
    height: 102px;
    width: 100%;
    left: 0;
    top: 0;
  }
  
  .nav-logo {
    color: #0075ff;
    font-family: "Inter-Black", Helvetica;
    font-size: 50px;
    font-weight: 1000;
    justify-self: start;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .nav-logo:hover {
    color: #000;
    transition: all 0.2s ease-out;
  }
  
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    width: 50vw;
    justify-content: center;
    margin-right: 2rem;
  }

  .nav-menu2 {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 0px;
    list-style: none;
    text-align: center;
    width: 270px;
    justify-content: end;
  }
  
  .nav-item {
    height: 80px;
  }
  
  .nav-item2 {
    height: 80px;
  }
  
  .nav-links {
    color: #000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 23px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0rem 2rem;
    height: 100%;
    position: relative;
  }
  
  .nav-links:hover {
    /* border-bottom: 4px solid #0075ff;
    transition: all 0.2s ease-out; */
    top: -3px;
  }

  .nav-links2 {
    color: #373737;
    font-family: "Inter-Thin", Helvetica;
    font-size: 15px;
    font-weight: 100;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
    height: 100%;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }

    .nav-menu2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
      }
  
    .nav-menu.active {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      background-color: #fff;
      color: #242424;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile:hover {
      background: #fff;
      color: #242424;
      transition: 250ms;
    }
  }





/* .NavigatorP {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.NavigatorP .overlap-group {
    height: 1081px;
    left: -1px;
    position: relative;
    top: -1px;
    width: 1922px;
}

.NavigatorP .navigator {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #0075ff80;
    height: 102px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1922px;
}

.NavigatorP .view-right {
    height: 22px;
    left: 1584px;
    position: absolute;
    top: 39px;
    width: 244px;
}

.NavigatorP .SignUp {
    height: 22px;
    left: 177px;
    position: absolute;
    top: 0;
    width: 67px;
}

.NavigatorP .text-sign {
    color: #373737;
    font-family: "Inter-Thin", Helvetica;
    font-size: 18px;
    font-weight: 100;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
}

.NavigatorP .Login {
    height: 22px;
    left: 90px;
    position: absolute;
    top: 0;
    width: 50px;
}

.NavigatorP .view-middle {
    height: 30px;
    left: 531px;
    position: absolute;
    top: 35px;
    width: 808px;
}

.NavigatorP .element {
    height: 30px;
    left: 715px;
    position: absolute;
    top: 0;
    width: 93px;
}

.NavigatorP .text-notice {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 25px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    width: 93px;
}

.NavigatorP .element-2 {
    height: 30px;
    left: 459px;
    position: absolute;
    top: 0;
    width: 152px;
}

.NavigatorP .text-storeinfo {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 25px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    width: 152px;
}

.NavigatorP .element-3 {
    height: 30px;
    left: 203px;
    position: absolute;
    top: 0;
    width: 152px;
}

.NavigatorP .text-umbrella {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 25px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    white-space: nowrap;
}

.NavigatorP .element-4 {
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 99px;
}

.NavigatorP .view-left {
    height: 61px;
    left: 75px;
    position: absolute;
    top: 19px;
    width: 113px;
}

.NavigatorP .Logo {
    color: #0075ff;
    font-family: "Inter-Black", Helvetica;
    font-size: 50px;
    font-weight: 900;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
} */


/* .NavigatorP .overlap-group-wrapper {
    background-color: #ffffff;
    height: 1080px;
    overflow: hidden;
    width: 1920px;
} */