.StoreInfo {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.StoreInfo .div {
    background-color: #ffffff;
    height: 1080px;
    position: relative;
    width: 1920px;
}

.StoreInfo .background {
    height: 980px;
    left: 0;
    position: absolute;
    top: 0px;
    width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.StoreInfo .middle {
    height: 799px;
    left: 0;
    position: absolute;
    top: 181px;
    width: 1920px;
}

.StoreInfo .storeAddress {
    height: 190px;
    left: 612px;
    position: absolute;
    top: 24px;
    width: 696px;
}

.StoreInfo .storeName {
    height: 190px;
    left: 612px;
    position: absolute;
    top: 214px;
    width: 696px;
}

/* .StoreInfo .businessNumber {
    height: 190px;
    left: 612px;
    position: absolute;
    top: 404px;
    width: 696px;
} */

.StoreInfo .textA {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 35px;
    font-weight: 600;
    height: 44px;
    left: 102px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 55px;
    width: 200px;
}

.StoreInfo .input {
    align-items: flex-start;
    background-color: #ffffff;
    border: 3px solid;
    border-color: #000000;
    border-radius: 15px;
    display: flex;
    width: 520px;
    height: 30px;
    top: 120px;
    left: 101px;
    padding: 10px;
    opacity: 0.3;
    overflow: hidden;
    position: absolute;
    font-size: 24px;
}

/* .StoreInfo .text-input {
    color: #000000;
    font-family: "Inter-Thin", Helvetica;
    font-size: 20px;
    font-weight: 100;
    height: 29px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -2px;
    position: relative;
    width: 257px;
} */

.StoreInfo .input::placeholder {
    color: #000000;
    font-family: "Inter-Thin", Helvetica;
    font-size: 20px;
    font-weight: 100;
}

.StoreInfo .OK {
    background-color: #0075ff;
    border: 0px none;
    border-radius: 15px;
    height: 60px;
    width: 120px;
    color: #ffffff;
    font-family: "Inter-Thin", Helvetica;
    font-size: 30px;
    font-weight: 500;
    top: 500px;
    left: 920px;
    overflow: hidden;
    position: relative;
}

.StoreInfo .OK:hover {
    border: 2px solid #000000;
    transition: all 0.2s ease-out;
}

/* .StoreInfo .text-OK {
    color: #ffffff;
    font-family: "Inter-Thin", Helvetica;
    font-size: 24px;
    font-weight: 500;
    height: 50px;
    left: 0px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 9px;
    width: 98px;
} */

.StoreInfo .background .upper {
    background-color: #0075ff;
    height: 181px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
}

.StoreInfo .background .text-upper {
    color: #ffffff;
    font-family: "Inter-Black", Helvetica;
    font-size: 50px;
    font-weight: 900;
    height: 61px;
    left: 812px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-shadow: 0px 4px 4px #00000040;
    top: 50px;
}